{% extends 'base.html.twig' %}
{% block body %}
    <div class="p-3">
        <div class="row">
            <div class="col-lg-2">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action" data-source="#setMail" data-target="#target" onclick="fillDataTarget(this)">Email</div>
                    <div class="list-group-item list-group-item-action" data-source="#changePassword" data-target="#target" onclick="fillDataTarget(this)">Change Password</div>
                    <div class="list-group-item list-group-item-action" data-source="#cleanupSettings" data-target="#target" onclick="fillDataTarget(this)">Cleanup</div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="card d-none" id="target">

                </div>
            </div>
        </div>
    </div>

    <template id="setMail">
        <div class="card-header">
             Mailsettings
        </div>
        <div class="card-body">
            <form  action="/settings/changeMail" method="post">
                <div class="mb-3">
                    <label for="mail" class="form-label">Mail</label>
                    <input type="text" class="form-control" id="mail" name="mail" placeholder="mail" value="{{ mail }}">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success" value="Change Mail">
                </div>
            </form>
        </div>
    </template>

    <template id="changePassword">
        <div class="card-header">
            Change Password
        </div>
        <div class="card-body">
            <form action="/settings/changePassword" method="post">
                <div class="mb-3">
                    <label for="oldPass" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="oldPass" name="oldPass">
                </div>
                <div class="mb-3">
                    <label for="newPass" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="newPass" name="newPass">
                </div>
                <div class="mb-3">
                    <label for="newPass2" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="newPass2" name="newPass2">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success" value="Change Password">
                </div>
            </form>
        </div>
    </template>

    <template id="cleanupSettings">
        <div class="card-header">
            Cleanup Settings
        </div>
        <div class="card-body">
            <form action="/settings/cleanupInterval" method="post">
                <div class="mb-3">
                    <label for="intervall" class="form-label">Cleanup Intervall</label>
                    <select class="form-select" id="intervall" name="intervall">
                        {% for cleanupValue in cleanupValues %}
                            {% set selected = (cleanupValue == cleanup ? 'selected' : '') %}
                            <option value="{{ cleanupValue }}" {{ selected }}> {{ cleanupValue }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </template>
{% endblock %}